<h1>Map</h1>

<div id="map" style="height:500px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>

<script>
let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 35.9356, lng: 139.5526 },
    zoom: 12
  });

  loadMarkers();

  map.addListener("click", function(e) {
    createMarker(e.latLng.lat(), e.latLng.lng());
  });
}

function createMarker(lat, lng) {
  fetch("/markers", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      marker: { lat: lat, lng: lng }
    })
  })
  .then(res => res.json())
  .then(marker => {
    addMarker(marker.lat, marker.lng);
  });
}

function addMarker(lat, lng) {
  new google.maps.Marker({
    position: { lat: Number(lat), lng: Number(lng) },
    map: map
  });
}

function loadMarkers() {
  fetch("/markers.json")
  .then(res => res.json())
  .then(markers => {
    markers.forEach(m => addMarker(m.lat, m.lng));
  });
}

window.onload = initMap;
</script>
